body {
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    text-align: right;
    top: 0;
    right: 0;
    margin-right: 5%;
}

header {   
    font-style: italic;
    font-size: 50%;
    text-align: center;
}

#blog-name {
    color: cornflowerblue;
    text-transform: uppercase;
}

article h1 {
    background-color: cornflowerblue;
    color: white;
    padding: 5%;
    font-size: 200%;
}

article h2 {
    text-align: center;
}

article p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-p {
    color: cornflowerblue;
    border: 2px dashed cornflowerblue;
    padding: 2%;
}

footer {
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}